<header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h2>Sign Up</h2>
          <hr class="small">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

   <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name, autofocus: true, style: "color: black", placeholder: "ex: Emma Watson" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, style: "color: black" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", style: "color: black" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", style: "color: black" %>
  </div>

<br />
  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-large btn-primary" %>
  </div>

<% end %>



        </center>

      </div>
      <center><h5><%= render "devise/shared/links" %></h5></center>
    </div>
  </div>
</div>
</header>


