<header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h2>Log In</h2>
          <hr class="small"><%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, style: "color: black" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", style: "color: black" %>
          </div>
          
          
          <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <% end -%>
          <div class="actions">
            <%= f.submit "Log in", :class => "btn btn-large btn-primary" %>
          </div>

          <% end %>

        </center>

      </div>
      <center><h5><%= render "devise/shared/links" %></h5></center>
    </div>
  </div>
</div>
</header>




