<%= render 'posttitlebar' %>
<article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    

                    <p> <i>Situation:</i> <%= @tip.situation %> </p>

                    <p><b>Do: </b><%= @tip.do %></p>
                    <p><b>Do Not: </b><%= @tip.dont %></p>
                    <p>
                    <blockquote><%= @tip.quote %></blockquote>

                    <span class="caption text-muted">
                        <% unless @tip.approved %>
                    Thank you for your submission! This tip has not been approved yet, but will appear on the "submitted" page.
                    <% else %>
                    Thanks for reading.
                    <% end %></span>

                </div>
            </div>
        </div>
    </article>

    <hr>

